In [132]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [133]:
df = pd.read_csv('./dataset/indian_liver_patient.csv')
display(df.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [182]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'Male' else 0)

In [185]:
data = df.values
data.shape

(583, 11)

In [207]:
(X_train, Y_train) = (data[:408, :-1], data[:408, -1])
(X_test, Y_test) = (data[175:, :-1], data[17:, -1])
X_train = X_train.reshape(X_train.shape[0], 10)
Y_train = Y_train.reshape(X_train.shape[0], 1)
X_test = X_test.reshape(X_test.shape[0], 10)
Y_test = Y_test.reshape(X_test.shape[0], 1)
print("X_train shape:" + str(X_train.shape))
print("Y_train shape:" + str(Y_train.shape))
print("X_test shape:" + str(X_test.shape))
print("Y_test shape:" + str(Y_test.shape))

X_train shape:(175, 10)
Y_train shape:(175, 1)
X_test shape:(408, 10)
Y_test shape:(408, 1)

In [201]:
model = Sequential()
model.add(Dense(10, input_dim = 10, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [202]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 10)                110
_________________________________________________________________
dense_31 (Dense)             (None, 1)                 11
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [203]:
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [204]:
history = model.fit(X_train, Y_train, epochs = 10, batch_size = 64, validation_split = 0.2)

8/8 [==============================] - 0s 40ms/step - loss: nan - accuracy: 0.0215 - val_loss: nan - val_accuracy: 0.0000e+00

In [205]:
train_loss, train_acc = model.evaluate(X_train, Y_train)

19/19 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.0000e+00